- if user_signed_in?
  = link_to new_product_path, class: 'exhibit_btn' do
    = fa_icon "circle", class: 'exhibit_btn__circle'
    .exhibit_btn__text
      出品
    = fa_icon "camera", class: 'exhibit_btn__camera'
- else
  = link_to new_user_session_path, class: 'exhibit_btn' do
    = fa_icon "circle", class: 'exhibit_btn__circle'
    .exhibit_btn__text
      出品
    = fa_icon "camera", class: 'exhibit_btn__camera'
