.footer
  .bottom_banner
    .bottom_banner__bold_text
      スマホでかんたんフリマアプリ
    .bottom_banner__download_text
      今すぐ無料ダウンロード！
    = image_tag('https://www-mercari-jp.akamaized.net/assets/img/common/common/mercari_icon.png?1016580576', :class => "mercari_squere" )
    = image_tag('https://www-mercari-jp.akamaized.net/assets/img/common/jp/download_content_pc.png?1016580576', :class => "bottom_phone" )
    = image_tag('https://www.mercari.com/jp/assets/img/common/jp/top/download_bg_pc.jpg?96275498', :class => "top_background" )
    = image_tag('https://www-mercari-jp.akamaized.net/assets/img/common/common/app-store.svg?1016580576', :class => "App" )
    = image_tag('https://www-mercari-jp.akamaized.net/assets/img/common/common/google-play.svg?1016580576', :class => "google" )
  .bottom_links
    .bottom_links__title
      メルカリについて
    .bottom_links__cell
      会社概要（運営会社）
    .bottom_links__cell
      プライバシーポリシー
    .bottom_links__cell
      メルカリ利用規約
    .bottom_links__cell
      メルカリ利用規約・有償ポイントに関する特約
    .bottom_links__cell
      あんしんスマホサポート制度に関する利用規約
    .bottom_links__cell
      コンプライアンスポリシー
    .bottom_links__cell
      個人データのあんしん管理に係る基本方針
    .bottom_links__cell
      特定商取引に関する表記
    .bottom_links__cell
      資金決済法に基づく表示
    .bottom_links__cell
      法令遵守と犯罪抑止のために
    .bottom_links__cell
      採用情報
  .bottom_links
    .bottom_links__title
      メルカリを見る
    .bottom_links__cell
      カテゴリー一覧
    .bottom_links__cell
      ブランド一覧
    .bottom_links__cell
      出品地域一覧
    .bottom_links__cell
      公式ブログ
    .bottom_links__cell
      公式Twitter
    .bottom_links__cell
      公式Facebook
  .bottom_links
    .bottom_links__title
      ヘルプ&ガイド
    .bottom_links__cell
      メルカリガイド
    .bottom_links__cell
      メルカリロゴ利用ガイドライン
    .bottom_links__cell
      お知らせ
    .bottom_links__cell
      らくらくメルカリ便とは
    .bottom_links__cell
      ゆうゆうメルカリ便とは
    .bottom_links__cell
      大型らくらくメルカリ便とは
    .bottom_links__cell
      車体取引ガイド
    .bottom_links__cell
      返品・返金ポリシー
    .bottom_links__cell
      メルカリあんしん・あんぜん宣言！
    .bottom_links__cell
      偽ブランド品撲滅への取り組み
    .bottom_links__cell
      メルカリボックス
  .bottom_links
    .bottom_links__title
      国
    .bottom_links__cell
      = image_tag('https://www-mercari-jp.akamaized.net/assets/img/common/common/flag_us.png?1016580576', :class => "US" )
      United States
    .bottom_links__cell
      = image_tag('https://www-mercari-jp.akamaized.net/assets/img/common/common/flag_uk.png?1016580576', :class => "UK" )
      United Kingdam
    .bottom_links__cell
      = image_tag('https://www-mercari-jp.akamaized.net/assets/img/common/common/flag_jp.png?1016580576', :class => "JP" )
      日本
  .bottom_linkes__top_page
    = image_tag('https://www-mercari-jp.akamaized.net/assets/img/common/common/logo-white.svg?1016580576', :class => "mercari_top_page" )
    ©︎ 2018 Mercari

