.header
  .header_top
    .title
      %p.mercari
        = image_tag('https://www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?1016580576')
        = link_to 'トップページ', "https://www.mercari.com/jp/"
    .form
      .input-box
        = form_tag (search_path, method => 'get') @items do |f|
          = text_field_tag :content, class: 'input-box__text', placeholder: 'キーワードを探す'
          = submit_tag 'search'
            %i.fa.fa-search
  .header_bottom
    .category_search
      カテゴリーから探す
    .brand_search
      ブランドから探す
    .my_page_link
      .my_page_link__left
        = image_tag('https://static-mercari-jp-imgtr2.akamaized.net/images/member_photo_noimage_thumb.png')
      .my_page_link__right
        マイページ
    .notices
      .notices__left
        %i.fa.fa-bell
      .notices__right
        お知らせ
    .todo_lists
      .todo_lists__left
        %i.fa.fa-check
      .todo_lists__right
        やることリスト
