.header
  .header_top.clearfix
    .header_top__title
      = link_to root_path, class: 'header_top__title--logo' do
        = image_tag('https://www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?1016580576', :class => "mercari_logo")
    .header_top__form
      .header_top__form--input-box
        = form_tag( 'search_articles_path', method: :get ) do
          = text_field_tag :q, '', class: 'header_top__form--input-box__text',placeholder: 'キーワードから探す'
          = link_to root_path, class: 'header_top__form--input-box__btn' do
            = fa_icon "search"
  .header_bottom.clearfix
    %h2.header_bottom__category_search
      カテゴリーから探す
      = render "share/header_category"
    %h2.header_bottom__brand_search
      ブランドから探す
    .header_bottom__right.clearfix
      - if user_signed_in?
        .header_bottom__right__my_page_link
          %span.header_bottom__right__my_page_link--left
            = image_tag('https://static-mercari-jp-imgtr2.akamaized.net/images/member_photo_noimage_thumb.png')
          = link_to user_path(current_user) do
            %span.header_bottom__right__my_page_link--right
              マイページ
        .header_bottom__right__notices
          %span.header_bottom__right__notices--left
            %i.far.fa-bell
          %span.header_bottom__right__notices--right
            お知らせ
        .header_bottom__right__todo_lists
          %span.header_bottom__right__todo_lists--left
            = fa_icon "check"
          %span.header_bottom__right__todo_lists--right
            やることリスト
      - else
        = link_to "ログイン", new_user_session_path, class: 'header_bottom__right__users_index_btn'
        = link_to "新規会員登録", users_path, class: 'header_bottom__right__users_new_btn'
