#account-page.account-page
  .account-page__inner
    %h1.single-head
      = link_to root_path do
        = image_tag("//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?1016580576", alt: "mercari" )
      %nav.progress-bar.signup-bar
        %ol
          %li.red
            会員情報
            .progress-status-true
          %li
            電話番号認証
            .progress-status
          %li
            住所入力
            .progress-status
          %li
            支払い方法
            .progress-status
          %li
            完了
            .progress-status-fin
    .account-page__inner--center
      %h2.secound-head 会員情報入力
      .account-page__inner--right.user-form
        = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
          = devise_error_messages!
          .field
            .field-label__user_name
              = f.label :name, ('ニックネーム')
              %span.form-require 必須
            .field-input
              = f.text_field :name, autofocus: true, placeholder: '例) メルカリ太郎'
          .field
            .field-label__email
              = f.label :email, ('メールアドレス')
              %span.form-require 必須
            .field-input
              = f.email_field :email, placeholder: 'PC・携帯どちらでも可'
          .field
            .field-label__password
              = f.label :password, ('パスワード')
              %span.form-require 必須
              %i
            .field-input
              = f.password_field :password, autocomplete: "off", placeholder: '6文字以上'
          .field
            .field-label__password_confirmation
              = f.label :password_confirmation, ('パスワード(確認)')
              %span.form-require 必須
            .field-input
              = f.password_field :password_confirmation, autocomplete: "off", placeholder: '6文字以上'
          .actions
            = f.submit "会員登録", class: 'btn'
    = render partial: "users/footer"
