.mypage-left
  %ul.mypage-list.clearfix
    = link_to user_path(current_user), class: 'mypage-list__link' do
      %li.mypage-list__link__item.clearfix
        .mypage-list__link__item__text
          マイページ
        = fa_icon 'angle-right', class: 'mypage-list__link__item__icon'

    = link_to root_path, class: 'mypage-list__link' do
      %li.mypage-list__link__item.clearfix
        .mypage-list__link__item__text
          お知らせ
        = fa_icon 'angle-right', class: 'mypage-list__link__item__icon'

    = link_to root_path, class: 'mypage-list__link' do
      %li.mypage-list__link__item.clearfix
        .mypage-list__link__item__text
          やることリスト
        = fa_icon 'angle-right', class: 'mypage-list__link__item__icon'

    = link_to root_path, class: 'mypage-list__link' do
      %li.mypage-list__link__item.clearfix
        .mypage-list__link__item__text
          いいね！一覧
        = fa_icon 'angle-right', class: 'mypage-list__link__item__icon'

    = link_to root_path, class: 'mypage-list__link' do
      %li.mypage-list__link__item.clearfix
        .mypage-list__link__item__text
          出品する
        = fa_icon 'angle-right', class: 'mypage-list__link__item__icon'

    = link_to root_path, class: 'mypage-list__link' do
      %li.mypage-list__link__item.clearfix
        .mypage-list__link__item__text
          出品した商品-出品中
        = fa_icon 'angle-right', class: 'mypage-list__link__item__icon'

    = link_to root_path, class: 'mypage-list__link' do
      %li.mypage-list__link__item.clearfix
        .mypage-list__link__item__text
          出品した商品-取引中
        = fa_icon 'angle-right', class: 'mypage-list__link__item__icon'

    = link_to root_path, class: 'mypage-list__link' do
      %li.mypage-list__link__item.clearfix
        .mypage-list__link__item__text
          出品した商品-売却済み
        = fa_icon 'angle-right', class: 'mypage-list__link__item__icon'

    = link_to root_path, class: 'mypage-list__link' do
      %li.mypage-list__link__item.clearfix
        .mypage-list__link__item__text
          購入した商品-取引中
        = fa_icon 'angle-right', class: 'mypage-list__link__item__icon'

    = link_to root_path, class: 'mypage-list__link' do
      %li.mypage-list__link__item.clearfix
        .mypage-list__link__item__text
          購入した商品-過去の取引
        = fa_icon 'angle-right', class: 'mypage-list__link__item__icon'

    = link_to root_path, class: 'mypage-list__link' do
      %li.mypage-list__link__item.clearfix
        .mypage-list__link__item__text
          ニュース一覧
        = fa_icon 'angle-right', class: 'mypage-list__link__item__icon'

    = link_to root_path, class: 'mypage-list__link' do
      %li.mypage-list__link__item.clearfix
        .mypage-list__link__item__text
          評価一覧
        = fa_icon 'angle-right', class: 'mypage-list__link__item__icon'

    = link_to root_path, class: 'mypage-list__link' do
      %li.mypage-list__link__item.clearfix
        .mypage-list__link__item__text
          ガイド
        = fa_icon 'angle-right', class: 'mypage-list__link__item__icon'

    = link_to root_path, class: 'mypage-list__link' do
      %li.mypage-list__link__item.clearfix
        .mypage-list__link__item__text
          お問い合わせ
        = fa_icon 'angle-right', class: 'mypage-list__link__item__icon'

    %h3.mypage-head
      売上・ポイント

    = link_to root_path, class: 'mypage-list__link' do
      %li.mypage-list__link__item.clearfix
        .mypage-list__link__item__text
          売上・振込申請
        = fa_icon 'angle-right', class: 'mypage-list__link__item__icon'

    = link_to root_path, class: 'mypage-list__link' do
      %li.mypage-list__link__item.clearfix
        .mypage-list__link__item__text
          ポイント
        = fa_icon 'angle-right', class: 'mypage-list__link__item__icon'

    %h3.mypage-head
      設定

    = link_to root_path, class: 'mypage-list__link' do
      %li.mypage-list__link__item.clearfix
        .mypage-list__link__item__text
          プロフィール
        = fa_icon 'angle-right', class: 'mypage-list__link__item__icon'

    = link_to root_path, class: 'mypage-list__link' do
      %li.mypage-list__link__item.clearfix
        .mypage-list__link__item__text
          住所変更
        = fa_icon 'angle-right', class: 'mypage-list__link__item__icon'

    = link_to root_path, class: 'mypage-list__link' do
      %li.mypage-list__link__item.clearfix
        .mypage-list__link__item__text
          支払い方法
        = fa_icon 'angle-right', class: 'mypage-list__link__item__icon'

    = link_to root_path, class: 'mypage-list__link' do
      %li.mypage-list__link__item.clearfix
        .mypage-list__link__item__text
          メール/パスワード
        = fa_icon 'angle-right', class: 'mypage-list__link__item__icon'

    = link_to root_path, class: 'mypage-list__link' do
      %li.mypage-list__link__item.clearfix
        .mypage-list__link__item__text
          本人情報
        = fa_icon 'angle-right', class: 'mypage-list__link__item__icon'

    = link_to root_path, class: 'mypage-list__link' do
      %li.mypage-list__link__item.clearfix
        .mypage-list__link__item__text
          電話番号の確認
        = fa_icon 'angle-right', class: 'mypage-list__link__item__icon'

    = link_to users_logout_path, class: 'mypage-list__link' do
      %li.mypage-list__link__item.clearfix
        .mypage-list__link__item__text
          ログアウト
        = fa_icon 'angle-right', class: 'mypage-list__link__item__icon'
