.wrapper
  = render partial: "share/header"
- breadcrumb :users_logout
= render "share/breadcrumb"
.main
  .mypage
    = render "sidebar"

    .logout
      .logout-content
        = link_to destroy_user_session_path, method: :delete do
          .logout-content-button
            ログアウト

= render partial: "share/footer"
= link_to '出品', class: 'exhibit_btn' do
  = fa_icon "circle"
  .exhibit_btn__text
    出品
  = fa_icon "camera"
