.wrapper
  = render partial: "share/header"
- breadcrumb :users
= render "share/breadcrumb"
.main
  .mypage
    = render "sidebar"

    .mypage-right
      .mypage-user-icon
        = link_to root_path, class: 'mypage-user-icon__link' do
          .mypage-user-icon-image
          .mypage-user-icon-name
            = current_user.name
          .mypage-number
            評価 ０   出品数 ０

      .mypage-tab-container
        %ul.mypage-tabs
          %li やることリスト
          %li__active お知らせ
        .mypage-item-list
          %ul.mypage-tab-todo

            %li.mypage-item
              現在、お知らせはありません

      .mypage-tab-container-second
        %h2.mypage-tab-head
          購入した商品
        %ul.mypage-tabs
          %li 過去の取引
          %li__active 取引中
        .mypage-item-list
          %ul.mypage-tab-todo
            %li.mypage-item
              取引中の商品がありません
= render partial: "share/footer"
= render partial: "share/exhibit_btn"
