#account-page.account-page
  .signin-page__inner
    %h1.single-head--center
      %img{:alt => "mercari", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?1016580576"}/
    .signin-page__inner--center
      .login-no-account
        %p アカウントをお持ちでない方はこちら
        %a{:href => "/users"} 新規会員登録
      .login-form-inner
        %button#facebook-login.btn-default.btn-sns.btn-sns-facebook
          %i.fab.fa-facebook{ style: "font-size: 18px;" }
          Facebookでログイン
        %button#google-login.btn-default.btn-sns.btn-sns-google
          %i.fab.fa-google-plus-g{ style: "font-size: 18px;" }
          Googleでログイン
      .signin-page__inner--right.user-form
        = form_for(resource, as: resource_name, url: session_path(resource_name))  do |f|
          = devise_error_messages!
          .field
            .field-label__email--sign
            .field-input__sign
              = f.email_field :email, placeholder: 'メールアドレス'
          .field
            .field-label__password--sign
              %i
            .field-input__sign
              = f.password_field :password, autocomplete: "off", placeholder: 'パスワード'
          .actions
            = f.submit "ログイン", class: 'btn'
            %input{:name => "login_callback", :type => "hidden", :value => "https://www.mercari.com/jp/signin/"}/
          .password-forget
            %a{:href => "https://www.mercari.com/jp/password/reset/start/"} パスワードをお忘れの方
    %footer.single-footer
      %nav.footer-bar
        %ul.clearfix
          %li
            %a{:href => "https://www.mercari.com/jp/privacy/"} プライバシーポリシー
          %li
            %a{:href => "https://www.mercari.com/jp/tos/"} メルカリ利用規約
          %li
            %a{:href => "https://www.mercari.com/jp/tokutei/"} 特定商取引に関する表記
      %a.single-footer-logo{:href => "https://www.mercari.com/jp/"}
        %img{:alt => "mercari", :height => "65", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?1016580576", :width => "80"}/
      %p
        %small © 2018 Mercari
