#account-page.account-page
  .signin-page__inner
    = render partial: "users/header"
    .signin-page__inner--center
      .login-no-account
        %p アカウントをお持ちでない方はこちら
        = link_to "新規会員登録", users_path
      .login-form-inner
        = link_to  do
          = button_tag id: "facebook-login", class: "btn-default btn-sns btn-sns-facebook" do
            %i.fab.fa-facebook{ style: "font-size: 18px;" }
            Facebookでログイン
        = link_to  do
          = button_tag id: "google-login", class: "btn-default btn-sns btn-sns-google" do
            %i.fab.fa-google-plus-g{ style: "font-size: 18px;" }
            Googleでログイン
      .signin-page__inner--right.user-form
        = form_for(resource, as: resource_name, url: session_path(resource_name))  do |f|
          = devise_error_messages!
          .field
            .field-label__email--sign
            .field-input__sign
              = f.email_field :email, placeholder: 'メールアドレス'
              .email-login-error 入力してください
          .field
            .field-label__password--sign
              %i
            .field-input__sign
              = f.password_field :password, autocomplete: "off", placeholder: 'パスワード'
              .password-login-error 入力してください
              .password-login-error-message パスワードは6文字以上128文字以下で入力してください
          .actions
            = f.submit "ログイン", class: 'btn'
            %input{name: "login_callback", type: "hidden"}/
          .password-forget
            = link_to "パスワードをお忘れの方","https://www.mercari.com/jp/password/reset/start/"
    = render partial: "users/footer"
