.wrapper
  .main-contents-top
    .header-content-center
      = render partial: "share/header"
    #bread-top.bread-top-top
      - breadcrumb :users_card
      = render "share/breadcrumb"
    .main-category
      .default-main-top.clearfix
        .default-main-content-right
          .chapter-containers
            %h2.chapter-containers__chapter-head 支払い方法
            .chapter-single
              %section.single-inner
                .chapter-single-content
                  %h3.chapter-sub-head クレジットカード一覧
                  - if @mycard.present?
                    %p.card= "************" + @mycard.last4
                    %p.card= @mycard.exp_month.to_s + " / " + @mycard.exp_year.to_s[2, 2]
                    %p.card= @mycard.brand
                    = link_to "/users/#{@payment.user_id}/card/#{@payment.id}", class: "delete-mycard", method: :delete do
                      %p.delete 削除する

                %ul.settings-payment-list
              %section.settings-add-card
                .chapter-single-content
                - unless @mycard.present?
                  = link_to new_user_card_path, class: "btn-defaults btn-reds submits-button" do
                    %i.far.fa-credit-card
                    クレジットカードを追加する
              .form-group.text-right
                %p
                  = link_to new_product_path, class: "text-right-bt" do
                    支払い方法について
                    %i.fas.fa-angle-right
        .defaults-main-sidetop
          = render partial: "users/sidebar"
  = render partial: "share/footer"
  = render partial: "share/exhibit_btn"
