.wrapper
  = render partial: "share/header"
  .top_banner{ style: "background-image: url('https://www.mercari.com/jp/assets/img/common/jp/top/main_bg_pc.jpg'); background-size: cover;" }
    .banner_content.clearfix
      .banner_content__left
        %p.banner_content__left--main
          スマホでかんたん
          %br
          フリマアプリ
        %p.banner_content__left--sub
          メルカリはスマホカメラからすぐに出品できる
          %br
          購入時も安心な独自システムのアプリです
        = image_tag('https://www-mercari-jp.akamaized.net/assets/img/common/common/app-store.svg?1016580576', :class => "App" )
        = image_tag('https://www-mercari-jp.akamaized.net/assets/img/common/common/google-play.svg?1016580576', :class => "google" )
      .banner_content__right
        = image_tag('https://www-mercari-jp.akamaized.net/assets/img/common/jp/top/main_content_pc.png?1016580576', :class => "top_phone" )
  .main.clearfix
    .pickup.clearfix
      .category.clearfix
        ピックアップカテゴリー
        .category__name
          メンズ新着アイテム
        .category__items.clearfix
          - 4.times do
            = render partial: "product-category"
        .category__link_to_all
          全ての商品を見る
        .category__name
          キッズ新着アイテム
        .category__items.clearfix
          - 4.times do
            = render partial: "product-category"
        .category__link_to_all
          全ての商品を見る
    .pickup.clearfix
      .brand.clearfix
        ピックアップブランド
        .brand__name
          ユニクロ新着アイテム
        .brand__items.clearfix
          - 4.times do
            = render partial: "product-brand"
        .brand__link_to_all
          全ての商品を見る
        .brand__name
          ZARA新着アイテム
        .brand__items.clearfix
          - 4.times do
            = render partial: "product-brand"
        .brand__link_to_all
          全ての商品を見る
  = render partial: "share/footer"
  = render partial: "share/exhibit_btn"
