.products_new

  = render "users/header"

  = form_for (@product), :url => {:action => :create} do |f|
    .main_product_new
      .title
        商品の情報を入力
      .block
        .block--images.clearfix
          .block--images__title.clearfix
            .block--images__title--normal
              出品画像
            .block--images__title--red
              必須
          .block--images__text
            最大４枚までアップロードできます
          .block--images__box
            = f.fields_for :images do |image|
              = image.label :first_image do
                = image.file_field :first_image, class: 'block--images__box__field'
                .block--images__box__text
                  ドラッグアンドドロップ
                  %br
                  またはクリックしてファイルをアップロード
          .block--images__error
            画像がありません


      .block
        .block--product
          .block--product__name
            .sub_title.clearfix
              .sub_title__name
                商品名
              .sub_title__required
                必須
            .block--product__name__text_box
              = f.text_field :name, class: 'block--product__name__text_box__text', placeholder: '商品名（必須40文字まで）'
            .block--product__name__error
              入力してください
          .block--product__description
            .sub_title.clearfix.clearfix.clearfix
              .sub_title__name
                商品の説明
              .sub_title__required
                必須
            .block--product__description__text_box
              = f.text_area :description, class: 'block--product__description__text_box__text', placeholder: '商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。'
            .block--product__description__error
              入力してください


      .block
        .block--product_detail.clearfix
          .block--product_detail--left
            商品の詳細
            = link_to "/products/new" do
              = fa_icon "question-circle", class: 'block--product_detail--left__question_circle'
          .block--product_detail--right
            .block--product_detail--right__category
              .sub_title.clearfix.clearfix
                .sub_title__name
                  カテゴリー
                .sub_title__required
                  必須
              .block--product_detail--right__categories
                .block--product_detail--right__categories--first
                  .medium_box.clearfix
                    = f.fields_for :product_categories do |category|
                      = category.select :category_id, options_for_select([["---","0"], ["レディース","1"], ["メンズ","2"], ["ベビー・キッズ","3"], ["インテリア・住まい・小物","4"], ["本・音楽・ゲーム","5"], ["おもちゃ・ホビー・グッズ","6"], ["コスメ・香水・美容","7"], ["家電・スマホ・カメラ","8"], ["スポーツ・レジャー","9"], ["ハンドメイド","10"], ["チケット","11"], ["自動車・オートバイ","12"], ["その他","13"]]), {}, {class: 'medium_box__select'}
                      = fa_icon 'angle-down', class: 'products_new_select_list_icon'
                .block--product_detail--right__categories--second
                  .medium_box.clearfix
                    = f.fields_for :product_categories do |category|
                      = category.select :category_id,  options_for_select([["---","0"], ["トップス","14"], ["ジャケット/アウター","15"], ["パンツ","16"], ["靴","17"], ["バッグ","18"]],:selected=>"0"), {}, {class: 'medium_box__select'}
                      = fa_icon 'angle-down', class: 'products_new_select_list_icon'
                .block--product_detail--right__categories--third
                  .medium_box.clearfix
                    = f.fields_for :product_categories do |category|
                      = category.select :category_id,  options_for_select([["---","0"], ["Tシャツ","19"], ["シャツ","20"], ["ポロシャツ","21"]],:selected=>"0"), {}, {class: 'medium_box__select'}
                      = fa_icon 'angle-down', class: 'products_new_select_list_icon'
                .medium_box_error
                  選択してください
            .block--product_detail--right__size
              .sub_title.clearfix.clearfix
                .sub_title__name
                  サイズ
                .sub_title__required
                  必須
              .medium_box.clearfix
                = f.fields_for :product_sizes do |size|
                  = size.select :size_id, options_for_select([["---","0"], ["S","1"], ["M","2"], ["L","3"], ["XL","4"], ["その他","5"], ["","6"], ["","7"], ["","8"], ["","9"], ["","10"], ["","11"], ["","12"], ["","13"]],:selected=>"0"), {}, {class: 'medium_box__select'}
                  = fa_icon 'angle-down', class: 'products_new_select_list_icon'
              .medium_box_error
                選択してください
            .block--product_detail--right__brand
              .sub_title.clearfix
                .sub_title__name
                  ブランド
                .sub_title__non_required
                  任意
              .medium_box
                = f.fields_for :product_brands do |brand|
                  = brand.text_field :brand_id, class: 'medium_box__text', placeholder: '例）シャネル'
            .block--product_detail--right__status
              .sub_title.clearfix
                .sub_title__name
                  商品の状態
                .sub_title__required
                  必須
              .medium_box
                = f.select :state_of_goods, options_for_select([["---","0"], ["新品、未使用","1"], ["未使用に近い","2"], ["目立った傷や汚れなし","3"], ["やや傷や汚れあり","4"], ["傷や汚れあり","5"], ["全体的に状態が悪い","6"]],:selected=>"0"), {}, {class: 'medium_box__select'}
                = fa_icon 'angle-down', class: 'products_new_select_list_icon'
              .medium_box_error
                選択してください


      .block
        .block--about_ship.clearfix
          .block--about_ship--left
            配送について
            = link_to "/products/new" do
              = fa_icon "question-circle", class: 'block--about_ship--left__question_circle'
          .block--about_ship--right
            .block--about_ship--right__freight
              .sub_title.clearfix
                .sub_title__name
                  配送料の負担
                .sub_title__required
                  必須
              .medium_box
                = f.select :freight, options_for_select([["---","0"], ["送料込み(出品者負担)","1"], ["着払い(購入者負担)","2"]],:selected=>"0"), {}, {class: 'medium_box__select'}
                = fa_icon 'angle-down', class: 'products_new_select_list_icon'
              .medium_box_error
                選択してください
            .block--about_ship--right__method
              .sub_title.clearfix
                .sub_title__name
                  配送の方法
                .sub_title__required
                  必須
              .medium_box
                = f.select :ship_method, options_for_select([["---","0"], ["未定","1"], ["らくらくメルカリ便","2"], ["ゆうメール","3"], ["レターパック","4"], ["普通郵便(定形、定形外)","5"], ["クロネコヤマト","6"], ["ゆうパック","7"], ["クリックポスト","8"], ["ゆうパケット","9"]],:selected=>"0"), {}, {class: 'medium_box__select'}
                = fa_icon 'angle-down', class: 'products_new_select_list_icon'
              .medium_box_error
                選択してください
            .block--about_ship--right__from_location
              .sub_title.clearfix
                .sub_title__name
                  発送元の地域
                .sub_title__required
                  必須
              .medium_box
                = f.select :ship_from_location, options_for_select([["---","0"], ["北海道","1"], ["青森県","2"], ["岩手県","3"], ["宮城県","4"], ["秋田県","5"], ["山形県","6"], ["福島県","7"], ["茨城県","8"], ["栃木県","9"], ["群馬県","10"], ["埼玉県","11"], ["千葉県","12"], ["東京都","13"], ["神奈川県","14"], ["新潟県","15"], ["富山県","16"], ["石川県","17"], ["福井県","18"], ["山梨県","19"], ["長野県","20"], ["岐阜県","21"], ["静岡県","22"], ["愛知県","23"], ["三重県","24"], ["滋賀県","25"], ["京都府","26"], ["大阪府","27"], ["兵庫県","28"], ["奈良県","29"], ["和歌山県","30"], ["鳥取県","31"], ["島根県","32"], ["岡山県","33"], ["広島県","34"], ["山口県","35"], ["徳島県","36"], ["香川県","37"], ["愛媛県","38"], ["高知県","39"], ["福岡県","40"], ["佐賀県","41"], ["長崎県","42"], ["熊本県","43"], ["大分県","44"], ["宮城県","45"], ["鹿児島県","46"], ["沖縄県","47"], ["未定","48"]],:selected=>"0"), {}, {class: 'medium_box__select'}
                = fa_icon 'angle-down', class: 'products_new_select_list_icon'
              .medium_box_error
                選択してください
            .block--about_ship--right__day
              .sub_title.clearfix
                .sub_title__name
                  発送までの日数
                .sub_title__required
                  必須
              .medium_box
                = f.select :ship_day, options_for_select([["---","0"], ["1~2日で発送","1"], ["2~3日で発送","2"], ["4~7日で発送","3"]],:selected=>"0"), {}, {class: 'medium_box__select'}
                = fa_icon 'angle-down', class: 'products_new_select_list_icon'
              .medium_box_error
                選択してください


      .block
        .block--price.clearfix
          .block--price--left
            販売価格(300〜9,999,999)
            = link_to "/products/new" do
              = fa_icon "question-circle", class: 'block--price--left__question_circle'
          .block--price--right
            .block--price--right__input
              .block--price--right__input__top.clearfix
                .block--price--right__input__top--left.clearfix
                  .block--price--right__input__top--left--normal
                    価格
                  .block--price--right__input__top--left--red
                    必須
                .block--price--right__input__top--right.clearfix
                  .block--price--right__input__top--right__mark
                    ￥
                  .block--price--right__input__top--right__box
                    = f.text_field :price, placeholder: '例）300'
              .block--price--right__input__bottom_error
                300以上9999999以下で入力してください
            .block--price--right__commissions.clearfix
              .block--price--right__commissions--left
                販売手数料（10％）
              .block--price--right__commissions--right
                \-
            .block--price--right__proceeds.clearfix
              .block--price--right__proceeds--left
                販売利益
              .block--price--right__proceeds--right
                \-


      .block
        .block--bottom
          .block--bottom__note
            = link_to "/products/new", class: "block--bottom__note__attention" do
              禁止されている出品
            、
            = link_to "/products/new", class: "block--bottom__note__attention" do
              行為
            を必ずご確認ください。
            %br
            またブランド品でシリアルナンバー等がある場合はご記載ください。
            = link_to "/products/new", class: "block--bottom__note__attention" do
              偽ブランドの販売
            は犯罪であり処罰される可能性があります。
            %br
            また、出品をもちまして
            = link_to "/products/new", class: "block--bottom__note__attention" do
              加盟店規約
            に同意したことになります。
          .block--bottom__btns
            = f.submit '出品する', class: 'block--bottom__btns__confirm'
            = button_tag class: "block--bottom__btns__back" do
              戻る

  = render "users/footer"
