%body
  /商品見出しから、いいね機能もここに
  .default-container
    %section.item-box-container.l-single-container
      %h1.item-name 正規品！COACH【コーチ】★★大きめ ミニシグネチャー ショルダーバッグ
      %p.item-wording
        『正規品！COACH【コーチ】★★大きめ ミニシグネチャー ショルダーバッグ』は、524回の取引実績を持つ
        %a hogehogeさんから出品されました。
        %a チャネル(ショルダーバッグ/レディース
        %a )の商品で、ロシアから2~3日で発送されます。

      /商品画像、詳細box
      .item-main-content.clearfix
        /商品画像部分
        .item-photo
          .owl-carousel.owl-loaded.owl-drag
            /メイン画像
            .owl-stage-outer
              /hoverイベントで使う
              .owl-stage
                .owl-item.active
                  .owl-item-inner
                    = image_tag "Pic1.jpg", size: "300x300", alt: "シャネル"
                .owl-item
                  .owl-item-inner
                .owl-item
                  .owl-item-inner.is-higher-width
                .owl-item
                  .owl-item-inner.is-higher-width

            /?
            .owl-nav.disabred
            /hoverイベントをかける画像４枚
            .owl-dots
              .owl-dot
                %span
                .owl-dot-inner
                  = image_tag "Pic1.jpg", size: "75x75", alt: "シャネル"
              .owl-dot
                %span
                .owl-dot-inner
                  = image_tag "Pic1.jpg", size: "75x75", alt: "シャネル"

              .owl-dot
                %span
                .owl-dot-inner
                  = image_tag "Pic1.jpg", size: "75x75", alt: "シャネル"

              .owl-dot
                %span
                .owl-dot-inner
                  = image_tag "Pic1.jpg", size: "75x75", alt: "シャネル"
            /画像、説明書きここまで

        /値段表示
        .item-price-box.text-center.visible-sp
          %span.item-price
          %span.item-tax
          %span.item-shipping-fee
        /購入画面へjump
        %section.visible-sp
          %a.item-buy-btn.f18-24
          /jumpパターンが２つ??
          / %a.item-btn-client{:href => "https://www.mercari.com/jp/login/?login_callback=https%3A%2F%2Fwww.mercari.com%2Fjp%2Ftransaction%2Fbuy%2Fm70068440240%2F"}
          /   %div{"data-client" => "visible"}
          /     購入画面に進む
          / %a.item-action-text{"data-action" => "item/openDetail", "data-adjust-url" => "http://app.adjust.io/xio2ii?campaign=iOS&adgroup=items.buy_button1", "data-key" => "id=m70068440240", "data-play-id" => "com.kouzoh.mercari", "data-toggle" => "open-app", "data-url-scheme" => "mercari://"}
          /     アプリで購入

        /商品詳細
        %table.item-detail-table
          %tbody
            %tr
              %th 出品者
              %td
                %a{href: "https://www.merucari.com/jp/u/387561164/"} koyama
                %div
                  .item-user-ratings
                    %i.fas.fa-grin.smile
                    %span 100
                  .item-user-ratings
                    %i.fas.fa-meh.meh
                    %span 50
                  .item-user-ratings
                    %i.fas.fa-tired.bad
                    %span 50
            %tr
              %th カテゴリー
              %td
                %a レディース
                %a
                  .item-detail-table-sub-category
                    %i.fas.fa-angle-right.right
                    バッグ
                %a
                  .item-detail-table-sub-sub-category
                    %i.fas.fa-angle-right.right
                    ショルダーバッグ
            %tr
              %th ブランド
              %td
                %a{href: "https://www.merucari.com/jp/u/387561164/"} シャネル
            %tr
              %th 商品の状態
              %td やや臭いあり
            %tr
              %th 配送料の負担
              %td 送料込み(出品者負担)
            %tr
              %th 配送の方法
              %td 未定
            %tr
              %th 配送元地域
              %td
                %a{href: "https://www.merucari.com/jp/u/387561164/"} ロシア
            %tr
              %th 発送日の目安
              %td 1~2日で発送

      /値段表示
      .item-price-box.text-center
        %span.item-price ¥3,600
        %span.item-tax (税込)
        %span.item-shipping-fee 送料込み

      %a.item-buy-btn.f18-24 購入画面に進む
      %a.item-btn-client

      /出品者記入項目
      .item-description.f14
        %p.item-description-inner
          ■商品ご覧頂き、誠にありがとうございます。
          ※今だけ、フォロワーになって下さった方に、300円のお値引きサービス中！！

          私の商品検索は、
          Boon・バッグ
          検索してください。

          質問がありましたらコメントでよろしくお願いします！
          ■ 商品説明 ■
          まずはプロフを確認してください☆

          ■ 商品詳細 ■
          シンプルな落ち着いたお色味でどんな場面にも合い、
          どんな服にも合わせやすいお鞄です。使用感有！角擦れはございませんが
          多少の汚れはあります。内側はとても綺麗です☆
          使わなくなったのでどなたか使っていただける方お願いします。
          製造番号  H2K-9294

          【ブランド】
          COACH コーチ

          【商品名】
          コーチ大き目シンプル

          【仕様】
          外ポケット１ 内ポケット４

          【サイズ】
          縦：32
          横：31
          幅：7
          紐：130 多少調節可能

          ＊他にも数多くの商品を出品しているので、ぜひご覧ください。
          ＊複数購入、お取り置き(５日まで)もできるので、お気軽にお声がけくださいませ。
          ＊中古品になりますので、予めご理解いただきますよう、お願い致します^_^
          ※自宅保管、素人検品、素人寸法の誤差などにご理解がない方、神経質な方、完璧な物が欲しい方は購入お控えください。
          、お願い致します^_^
          ※自宅保管、素人検品、素人寸法の誤差などにご理解がない方、神経質な方、完璧な物が欲しい方は購入お控えください。

          シンプル #かわいい #大き目 #かばん #バッグ

      /いいね機能、報告url、取り組みurl
      .item-button-container.clearfix
        .item-button-left
          %a.item-button.item-button-like
            %i.far.fa-heart
            %span いいね!
            %span 1
          /不適切報告
          %a.item-button.item-button-report.clearfix
            %i.far.fa-flag
            %span 不適切な商品の報告
        /取り組みurl
        .item-button-right
          %a.description-page{href: "https://www.mercari.com/jp/safe/description/"}
            %i.fas.fa-lock
            %span あんしん・あんぜんへの取り組み


    /コメント表示
    .item-detail-message
      .message-container
        .message-content.clearfix
          %ul.message-items
            %li.clearfix
              .message-user
                %figure
                  .message-user-unknown
                    %img{alt: "", src: "//www-mercari-jp.akamaized.net/assets/img/common/common/user-icon.svg?1016580576"}/
              .message-body
                .message-body-text 出品者がコメントを削除しました
                .message-icons.clearfix
                  %time.message-icon-left
                    %i.far.fa-clock
                    %span 13 日前
                  .message-icon-right
                    = link_to "https://item.mercari.com/jp/m96620691686/", class: 'flag-link' do
                      = button_tag type: "submit", class: 'flag-btn' do
                        %i.far.fa-flag

    .item-detail-message
      .message-container
        .message-content-box


    /別商品詳細ページリンク
    %ul.nav-item-link-prev-next.clearfix
      %li.nav-item-link-prev
        = link_to href: "https://item.mercari.com/jp/m96620691686/", class: 'prev-page' do
          %i.fas.fa-angle-left
          ディズニーヴィランズ 2個セット バッジ バッチ Villains 2018
      %li.nav-item-link-next
        = link_to href: "https://item.mercari.com/jp/m96620691686/", class: 'next-page' do
          バーにかかってきた電話/東 直己
          %i.fas.fa-angle-right.right

    /facebook,twitter,pinterest?アイコン
    .item-social-media-box
      .text-center
        .fb-save.fb_iframe_widget

      %span




      /snsリンク
      %ul.social-media-box
        %li
          %a.share-btn
            %i.fab.fa-facebook-square.custum{ style: "font-size: 44px;" }
        %li
          %a.share-btn
            %i.fab.fa-twitter-square.custum{ style: "font-size: 44px;" }
        %li.social-hidden-item
          %a
            %i.fab.fa-line.custum{ style: "font-size: 44px;" }
        %li
          %a.share-btn
            %i.fab.fa-pinterest-square.custum{ style: "font-size: 44px;" }
    .items-in-user-profile
      %section.items-box-container.clearfix.items-box-overflow.items-in-user-profile
        %h2.item-box.head
          = link_to href: "https://item.mercari.com/jp/m96620691686/", class: 'user-page-pro' do
            koyamaさんのその他の出品
        .items-box-content.clearfix
          .item-box
            = render partial: "product-category"
          .item-box2
            = render partial: "product-category"
          .item-box3
            = render partial: "product-category"
          .item-box4
            = render partial: "product-category"
          .item-box5
            = render partial: "product-category"
          .item-box6
            = render partial: "product-category"
      %section.items-box-container.clearfix.items-box-overflow.items-in-user-profile
        %h2.item-box.head
          = link_to href: "https://item.mercari.com/jp/m96620691686/", class: 'user-page-pro' do
            koyamaさんのその他の出品
        .items-box-content.clearfix
          .item-box
            = render partial: "product-category"
          .item-box2
            = render partial: "product-category"
          .item-box3
            = render partial: "product-category"
          .item-box4
            = render partial: "product-category"
          .item-box5
            = render partial: "product-category"
          .item-box6
            = render partial: "product-category"

