.wrapper
  = render partial: "share/header"
- breadcrumb :products, @product
= render "share/breadcrumb"

%body
  /商品見出しから、いいね機能もここに
  .default-container
    %section.item-box-container.l-single-container
      %h1.item-name
        = @product.name

      /商品画像、詳細box
      .item-main-content.clearfix
        /商品画像部分
        .item-photo
          /メイン画像
          .owl-item
            = image_tag @product.images[0].first_image.url
            - unless @product.status.to_i == 0
              .owl-sold
                .owl-sold-mark
                  .owl-sold-text
                    SOLD

          .owl-dots.clearfix
            .owl-dot
              .owl-dot-inner
                - if @product.images[0].forth_image.url.present?
                  = image_tag @product.images[0].forth_image.url
            .owl-dot
              .owl-dot-inner
                - if @product.images[0].third_image.url.present?
                  = image_tag @product.images[0].third_image.url
            .owl-dot
              .owl-dot-inner
                - if @product.images[0].second_image.url.present?
                  = image_tag @product.images[0].second_image.url
            .owl-dot
              .owl-dot-inner
                = image_tag @product.images[0].first_image.url
              /画像、説明書きここまで

        /商品詳細
        %table.item-detail-table
          %tbody
            %tr
              %th 出品者
              %td
                %a
                  = @product.user.name
                %div
                  .item-user-ratings
                    %i.fas.fa-grin.smile
                    %span 100
                  .item-user-ratings
                    %i.fas.fa-meh.meh
                    %span 50
                  .item-user-ratings
                    %i.fas.fa-tired.bad
                    %span 0
            %tr
              %th カテゴリー
              %td
                %a
                  = @product.categories[0].name
                %a
                  .item-detail-table-sub-category
                    %i.fas.fa-angle-right.right
                    = @product.categories[1].name
                %a
                  .item-detail-table-sub-sub-category
                    %i.fas.fa-angle-right.right
                    = @product.categories[2].name
            %tr
              %th ブランド
              %td
                %a
                  - if @product.brands.exists?
                    = @product.brands[0].name
            %tr
              %th 商品の状態
              %td
                - if @product.freight.to_i == 1
                  新品、未使用
                - elsif @product.freight.to_i == 2
                  未使用に近い
                - elsif @product.freight.to_i == 3
                  目立った傷や汚れなし
                - elsif @product.freight.to_i == 4
                  やや傷や汚れあり
                - elsif @product.freight.to_i == 5
                  傷や汚れあり
                - else
                  全体的に状態が悪い
            %tr
              %th 配送料の負担
              %td
                - if @product.freight == 1
                  送料込み(出品者負担)
                - else
                  着払い(購入者負担)
            %tr
              %th 配送の方法
              %td
                - if @product.ship_method.to_i == 1
                  未定
                - elsif @product.ship_method.to_i == 2
                  らくらくメルカリ便
                - elsif @product.ship_method.to_i == 3
                  ゆうメール
                - elsif @product.ship_method.to_i == 4
                  レターパック
                - elsif @product.ship_method.to_i == 5
                  普通郵便(定形、定形外)
                - elsif @product.ship_method.to_i == 6
                  クロネコヤマト
                - elsif @product.ship_method.to_i == 7
                  ゆうパック
                - elsif @product.ship_method.to_i == 8
                  クリックポスト
                - else
                  ゆうパケット
            %tr
              %th 配送元地域
              %td
                %a
                  = render "ship_from_location"
            %tr
              %th 発送日の目安
              %td
                - if @product.ship_day.to_i == 1
                  1〜2日で発送
                - elsif @product.ship_day.to_i == 2
                  2〜3日で発送
                - else
                  4〜7日で発送

      /値段表示
      .item-price-box.text-center
        %span.item-price
          ¥
          = number_with_delimiter(@product.price)
        %span.item-tax (税込)
        %span.item-shipping-fee
          - if @product.freight.to_i == 1
            送料込み
          - else
            着払い

      - if user_signed_in?
        - unless current_user.id == @product.user_id
          - if @product.status.to_i == 0
            = link_to product_buy_path(@product.id) do
              .item-buy-btn 購入画面に進む
              .item-btn-client
          - else
            .item-buy-btn.f18-24 売り切れました
        - else
      - else
        = link_to new_user_session_path do
          .item-buy-btn 購入画面に進む

      /出品者記入項目
      .item-description.f14
        %p.item-description-inner
          = @product.description


      /いいね機能、報告url、取り組みurl
      .item-button-container.clearfix
        .item-button-left
          %a.item-button.item-button-like
            %i.far.fa-heart
            %span いいね!
            %span 1
          /不適切報告
          %a.item-button.item-button-report.clearfix
            %i.far.fa-flag
            %span 不適切な商品の報告
        /取り組みurl
        .item-button-right
          %a.description-page
            %i.fas.fa-lock
            %span あんしん・あんぜんへの取り組み

    - if user_signed_in?
      - if current_user.id == @product.user_id
        - if @product.status.to_i == 0
          .item-edit-box
            = link_to edit_product_path, class: "item-edit-box__edit-btn__btn" do
              商品の編集
            .item-edit-box__text
              or
            = button_tag class: "item-edit-box__stop-btn__btn" do
              出品を一旦停止する
            = link_to "/products/#{@product.id}", method: :delete, class: "item-edit-box__delete-btn__btn" do
              この商品を削除する
        - else
      - else

    /コメント表示（箱）
    .item-detail-message
      / コメント枠
      .message-container
        .message-content.clearfix
          %ul.message-items
            %li.clearfix
              .message-user
                %figure
                  .message-user-unknown
                    %img{alt: "", src: "//www-mercari-jp.akamaized.net/assets/img/common/common/user-icon.svg?1016580576"}/
              .message-body
                .message-body-text 出品者がコメントを削除しました
                .message-icons.clearfix
                  %time.message-icon-left
                    %i.far.fa-clock
                    %span 13 日前
                  .message-icon-right
                    = button_tag type: "submit", class: 'flag-btn' do
                      %i.far.fa-flag
        - if user_signed_in?
          .message-content
            .message-content__attension
              相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
            .message-content__text
            .message-content__btns
              .message-content__btns__confirm
                - if @product.status.to_i == 0
                  コメントする
                - else
                  売り切れのためコメントできません
        - else

    /別商品詳細ページリンク
    %ul.nav-item-link-prev-next.clearfix
      %li.nav-item-link-prev
        = link_to product_path(@pre_product[0].id) do
          %i.fas.fa-angle-left
          = @pre_product[0].name
      %li.nav-item-link-next
        = link_to product_path(@post_product[0].id) do
          = @post_product[0].name
          %i.fas.fa-angle-right.right

    /facebook,twitter,pinterest?アイコン
    .item-social-media-box
      .text-center
        .fb-save.fb_iframe_widget

      /snsリンク
      %ul.social-media-box
        %li
          %a.share-btn
            %i.fab.fa-facebook-square.custum{ style: "font-size: 44px;" }
        %li
          %a.share-btn
            %i.fab.fa-twitter-square.custum{ style: "font-size: 44px;" }
        %li.social-hidden-item
          %a
            %i.fab.fa-line.custum{ style: "font-size: 44px;" }
        %li
          %a.share-btn
            %i.fab.fa-pinterest-square.custum{ style: "font-size: 44px;" }


= render partial: "share/footer"
